# pi-sandbox runtime configuration
CONTAINER_USER={{CONTAINER_USER}}
CONTAINER_UID={{CONTAINER_UID}}
CONTAINER_GID={{CONTAINER_GID}}
CONTAINER_HOME={{CONTAINER_HOME}}
STATE_VOLUME={{STATE_VOLUME}}
MEMORY={{MEMORY}}
CPUS={{CPUS}}
PIDS_LIMIT={{PIDS_LIMIT}}
ENV_FILE={{ENV_FILE}}
NETWORK_MODE={{NETWORK_MODE}}
VERBOSE={{VERBOSE}}
# MOUNT=/host/path:/container/path:ro
